<template lang="pug">
v-container
  v-layout(justify-center align-center column fill-height)
    v-flex(text-xs-center)
      v-card.px-3(style="width: 400px")
        img.py-3(src='/white-hammer-sickle.svg', alt='Vuetify To Defy', height="175px")
        h1 The Jet Set Cornet
        blockquote.blockquote
          | An ill wind that no one blows good?
          footer
            small
              | &mdash; Johnny Rotten
          v-btn.primary.my-4(large to="/")
            i.fas.fa-cogs.fa-3x.mr-2
            | Vuesday Blues
</template>

<style>

v-card {
  max-width: 400px;
}
</style>
