<template lang="pug">
v-container
  v-layout(justify-center align-center column fill-height)
    v-flex(text-xs-center)
      v-card.px-3(style="width: 400px")
        img.py-3(src='/white-hammer-sickle.svg', alt='Vuetify To Defy', height="175px")
        h1 Fruits of Fluting
        blockquote.blockquote
          | The problem is you! So what are you going to do?
          footer
            small
              | &mdash; Johnny Rotten
          v-btn.error.my-4(large nuxt-link to="/french-horn")
            i.fas.fa-chess-knight.fa-2x.mr-3
            | Breathiness
</template>

<style>

/* v-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
v-layout {
  width: 400px;
} */

v-card {
  max-width: 400px;
}
</style>
