<template lang="pug">
v-container.fill-height(grid-list-md text-xs-center style="height: 20vh;")
	v-layout(row nowrap align-center justify-center)
		v-flex.mr-5(md6 text-xs-center)
			v-card.px-3(style="width: 400px")
				img.py-3(src='/white-hammer-sickle.svg' alt='Vuetify To Defy' height="175px")
				h1 Very Unmusical Endgames
				blockquote.blockquote
					| This Is Fabricated by Yoyodyne
					footer
						small
							| &mdash; Johnny Rotten
					v-flex.mb-2(d-flex)
						v-btn.dark.my-4.mx-2(large href="https://testa-de-ferro.onrender.com" target="_blank")
							i.fas.fa-cogs.fa-2x.mr-2
							| On Render
						v-btn.primary.my-4.ml-2(large href="https://gringolalia.github.io/verbs-used-extensively" target="_blank")
							i.fas.fa-chess-rook.fa-2x.mr-2
							| On GitHub

		v-flex.mr-5(md6 text-xs-center)
			v-card.px-3(style="width: 400px")
				img.py-4(src='/blue-alchemy-sulphuric.svg', alt='Vuetify To Defy', height="175px")
				h1 Voyage Undersea or Else
				blockquote.blockquote
					| Thunder In the Family Yurt
					footer
						small
							| &mdash; Johnny Rotten
					v-flex(d-flex)
						v-btn.error.my-4.mx-2(large href="https://siimplicity-regained.herokuapp.com" target="_blank")
							i.fas.fa-chess-pawn.fa-2x.mr-2
							| On Heroku
						v-btn.dark.my-4.ml-2(large 	f="https://a-yellow-yurt.netlify.com" target="_blank")
							i.fas.fa-sun.fa-2x.mr-2
							| On Netlify

</template>

<style>

v-card {
	max-width: 500px;
}
/* v-container {
	min-height: calc(100vh - 60px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
} */

.fill-height {
	height: calc(100vh - 65px) !important;
}

.contained {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


</style>
