<template lang="pug">
v-container.fill-height(fluid)
	v-layout(justify-center align-center column)
		v-row
			v-col.text-xs-center
				v-card.px-3(style="width: 400px")
					img.py-3(src='/white-hammer-sickle.svg', alt='Vuetify To Defy', height="175px")
					h1 Ill Wind Blown Bad
					blockquote.blockquote
						| Hautboy in the Oboe Tonight
						footer
							small
								| &mdash; Johnny Rotten
						v-btn.primary.my-4(large to="/")
							i.fas.fa-cogs.fa-3x.mr-2
							| Vuesday Blues
</template>

<style>

/* v-layout {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
v-layout {
	width: 400px;
} */

v-card {
	max-width: 400px;
}
</style>
