<template lang="pug">
v-container
	v-layout(justify-center align-center column fill-height)
		v-flex(text-xs-center)
			v-card.px-3
				img.py-3(src='/white-hammer-sickle.svg', alt='Vuetify To Defy', height="175px")
				h1 Honing Our Tromboning
				blockquote.blockquote
					| Glissando Rallentando in Esperanto
					footer
						small
							| &mdash; Johnny Rotten
					v-btn.dark.my-4(large to="/")
						i.fas.fa-cogs.fa-3x.mr-2
						| Seventy Six
					h3
						| Slide Hampton and Zeca do Trombone
</template>

<style>

/* v-layout {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
v-layout {
	width: 400px;
} */

v-card {
	max-width: 500px;
}
</style>
